
.container{
    margin-bottom: 100px;
}
.purple-bg{
    background-image: linear-gradient(to right, purple, rgba(202, 135, 241, 0.71));
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:rgb(255, 196, 0)
}
.buy-now-button{
    background-image: linear-gradient(to bottom, rgb(255, 255, 16) 0%, rgb(255, 174, 0) 100%);
    color: blue;
    border: none;
    border-radius: 20px;
    padding: 9px 25px;
    cursor: pointer;
}
.dscrb{
    color: white;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: rgba(148, 4, 192, 0.877);  
}
.cat2{
    background-color: rgb(255, 175, 0);  
}

.cat3{
    background-color: rgb(39, 39, 252);
    
}
.categories h1{
    color: white;
}
.categories img{
    width: 150px;
}

